:root {
  --primary-color: #1269C7;
  --secondary-color: #ffffff;
}

@font-face {
  font-family: Diogenes;
  src: url(../assets/fonts/DIOGENES.ttf);
}
@font-face {
  font-family: Canela-Light;
  src: url(../assets/fonts/Canela-Light.ttf);
}

* {
  padding: 0;
  margin: 0;
  font-family: Canela-Light, Tahoma, Geneva, Verdana, sans-serif;
  overflow: auto;
  scrollbar-width: none;
}

header {
  background-color: var(--secondary-color);
  position: fixed;
  width: 100vw;
  top: 0;
}
/* Navigation */
nav,
.logo,
.links {
  display: flex;
  align-items: center;
}
nav {
  justify-content: space-between;
}
.logo {
  margin-left: 4vw;
}
.links {
  margin-right: 4vw;
}
.audio-btn,
.add {
  width: 40px;
  height: 40px;
  border: none;
  background-color: var(--secondary-color);
  background-size: contain;
}
.play {
  background-image: url(../assets/images/icons/pause.svg);
}
.pause {
  background-image: url(../assets/images/icons/play.svg);
}
.links p {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1.3em;
  padding-right: 40px;
}
.logo p {
  font-family: Diogenes, sans-serif;
  font-size: 44px;
  color: var(--primary-color);
}
.logo img {
  padding-right: 25px;
  width: 80px;
  height: 80px;
}

.pattern {
  height: 50px;
  background-image: url("../assets/images/pattern.svg");
  background-repeat-x: repeat;
  margin-bottom: 5px;
}
#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 125px;
  background-color: var(--primary-color);
}
.hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--secondary-color);
  height: 83vh;
  width: 90vw;
}
.hero img {
  height: 50vh;
  width: auto;
}
.right {
  color: var(--primary-color);
}
.right h1 {
  margin-bottom: 2em;
  font-size: 3em;
}
.right p {
  margin-top: 1.3vh;
  font-size: 1.5em;
}
.line {
  background-color: var(--secondary-color);
  width: 100vw;
  height: 0.1vh;
}
.work {
  height: 97vh;
}
.work-hours {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  margin-top: 20vh;
  padding: 2em;
  font-size: 1.7em;
  border-radius: 10px;
}
.work-hours p {
  padding-top: 2vh;
}
.menu-heading {
  color: var(--secondary-color);
  margin-top: 6vh;
  margin-bottom: 6vh;
  font-size: 45px;
}
.grid {
  display: grid;
  margin-left: 1.3em;
  width: 90vw;
  grid-template-columns: repeat(auto-fill, 450px);
  row-gap: 15px;
  column-gap: 15px;
  margin-bottom: 30vh;
}
.card {
  background-color: var(--secondary-color);
  height: 70vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  justify-content: space-around;
  box-shadow: 9px 7px 18px -4px rgba(0,0,0,0.42);
  -webkit-box-shadow: 9px 7px 18px -4px rgba(0,0,0,0.42);
  -moz-box-shadow: 9px 7px 18px -4px rgba(0,0,0,0.42);
}
.card img {
  height: 350px;
}

.description-div {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
}
.add {
  height: 50px;
  width: 50px;
  background-image: url(../assets/images/icons/plus.svg);
  background-repeat: no-repeat;
}