:root {
  --primary-color: #1269C7;
  --secondary-color: #ffffff;
}

@font-face {
  font-family: Diogenes;
  src: url(../assets/fonts/DIOGENES.ttf);
}
@font-face {
  font-family: Canela-Light;
  src: url(../assets/fonts/Canela-Light.ttf);
}

* {
  padding: 0;
  margin: 0;
  font-family: Canela-Light, Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: var(--secondary-color);
  position: fixed;
  width: 100vw;
  top: 0;
}
/* Navigation */
nav,
.logo,
.links {
  display: flex;
  align-items: center;
}
nav {
  justify-content: space-between;
}
.logo {
  margin-left: 4vw;
}
.links {
  margin-right: 4vw;
}
.audio {
  width: 40px;
  height: 40px;
  border: none;
  background-color: var(--secondary-color);
}
.play {
  background-image: url(../assets/images/icons/pause.svg);
}
.pause {
  background-image: url(../assets/images/icons/play.svg);
}
.links p {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1.3em;
  padding-right: 40px;
}
.logo p {
  font-family: Diogenes, sans-serif;
  font-size: 44px;
  color: var(--primary-color);
}
.logo img {
  padding-right: 25px;
  width: 80px;
  height: 80px;
}

.pattern {
  height: 50px;
  background-image: url("../assets/images/pattern.svg");
  background-repeat-x: repeat;
  margin-bottom: 5px;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  background-color: var(--primary-color);
}
.hero {
  margin-top: 2vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--secondary-color);
  height: 85vh;
  width: 90vw;
}
.hero img {
  height: 50vh;
  width: auto;
}
.right {
  color: var(--primary-color);
}
.right h1 {
  margin-bottom: 2em;
  font-size: 2em;
}
.right p {
  margin-top: 1.3vh;
  font-size: 1.5em;
}
.work {
  height: 80vh;
}
.work-hours {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  margin-top: 3vh;
  padding: 2em;
  font-size: 2em;
}
.work-hours p {
  padding-top: 1.5vh;
}